@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

body {
    position: relative;
}

img {
    /* Responsive Images */
    max-width: 100%;
    height: auto;
}

.divider {
    max-width: 4.75rem;
    border: var(--secondary) solid 2px;
    border-radius: 2px;
}

#OverMij img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

#bewijstukken a {
    text-decoration: none;
    color: #21252A;
    transition: 0.2s;
}

#bewijstukken a:hover {
    box-shadow: 2px 2px 5px var(--gray);

}

iframe {
    border: none;
}
embed {
    width: 100%;
    height: 600px;
}

#bewijstukken .card {
    height: 330px;
}

#bewijstukken .card img {
    max-height: 158px;
}

nav {
    transition: background-color 0.2s linear;
}

.bg-white-blur {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: grayscale(100%) blur(2px);
}